<h1>Mantras</h1>

<ul>
  <% @mantra_collections.each do |mantra_collection| %>
    <li class="mantra">
      <h2><%= link_to mantra_collection.title, mantra_collection %></h2>
      <%= link_to 'Edit', edit_mantra_collection_path(mantra_collection) %>
      <%= link_to 'Destroy', mantra_collection, :confirm => 'Are you sure?', :method => :delete %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Mantra collection', new_mantra_collection_path %>
