<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @mantra_collection.title %>
</p>


<%= link_to 'Edit', edit_mantra_collection_path(@mantra_collection) %> |
<%= link_to 'Back', mantra_collections_path %>
